.title{
  color: white;
}
.search_bar {
  margin-left: 380px;
}
.row{
  margin-top: 20px;
}
.footer{
  text-align: center;
  color: black;
}
.butt {
  margin: 45px;

  background-repeat:no-repeat;
}
.card {
  margin: 10px;
}
.display{
  display:inline-block;
  text-align: center;
  min-width: 400px;
  padding: 15px;
}
#mybody{
  background-image: url("android.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 20px;
    line-height: 40px;
    background-color: white;
    border: 2px solid #DDD;
    border-left-width: 0;
}
.round-image-50 {
    margin: auto;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
hr{
  width: 50%;
  border-width: 2px;
}
h5{
  color: black;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}
.add{
  text-decoration: underline;
}
.remove{
  color: red;
  text-decoration: underline;
  margin-left: 930px;
}
.nestedform{
  padding: 15px
}
.sellervariant{
  display: block;
  margin: auto;
}
