.title{
  color: white;
}
.row{
  margin-top: 15px;
}
.footer{
  text-align: center;
  color: black;
}
.butt {
  margin: 60px;

  background-repeat:no-repeat;
}
.card {
  margin: 10px;
}
.icon-size{
  font-size: 20px;
}
.column{
  display:inline-block;
  text-align: center;
  width: 20%;
  padding: 15px
}
#mybody{
  margin-top: 20px;
  background-image: url("android.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-img-wrap {
  overflow: hidden;
  position: relative;
}
.card-img-wrap:after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.3);
  opacity: 0;
  transition: opacity .25s;
}
.card-img-wrap img {
  transition: transform .25s;
}
.card-img-wrap:hover img {
  transform: scale(1.2);
}
.card-img-wrap:hover:after {
  opacity: 1;
}
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 20px;
    line-height: 40px;
    background-color: white;
    border: 2px solid #DDD;
    border-left-width: 0;
}
.round-image-50 {
    margin: auto;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
hr{
  width: 50%;
  border-width: 2px;
}
h5{
  color: black;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
}
.add{
  text-decoration: underline;
}
.remove{
  color: red;
  text-decoration: underline;
  margin-left: 98%;
}
.nestedform{
  padding: 15px
}
.sellervariant{
  display: block;
  margin: auto;
}
.showhide{
  display: none;
}
.showproduct{
  width: 90%;
}
.sellerproduct{
  width: 100%
}
.margin{
  margin: 20px;
}
.input-group-btn{
  margin-left: 10px;
}
.signin {
  margin-left: 600px;
  padding: 5px;
  font-size: 18px;
}
.signup {

  padding: 5px;
  font-size: 18px;
}
.searchbar{
  padding: 10px;
}

.form-horizontal{
  margin-left: 400px;
}
.product{
  float: left;

}
.product img {
  opacity: 0.8;
  cursor: pointer;

}
.product img:hover {
  opacity: 1;
  color: green;
}
.modal-backdrop {
    display: none;
}
.card-light{
  padding: 10px;
}
.icon-delete{
  color: red;
}
